*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.navbar{
    background-color: rgb(148, 28, 218);
}
.name{
    height: 40px;
    width: 55%;
    /* background: red; */
    color: white;
    display: inline-block;
    text-align: center;
    padding-top: 20px;
    font-size: x-large;
}
.shortdes{
    font-size: 23px;
}
.home, .hobbies, .skills{
    height: 40px;
    width: 15%;
    /* background: yellowgreen; */
    display: inline-block;
    text-align: center;
    padding-top: 10px;}

.nav{
    color: white;
    text-decoration: none;
    font-size: large;
}
div.intro{
    padding: 45px;
    margin: 0;
    /* background-color: pink; */
    display: inline-block;
    height: 200px;
    width: 50%;
    position: relative;
    left: 45px;

}
div.img{
    margin: 0;
    padding-left: 110px;
    padding-top: 50px;
    /* background-color: lightblue; */
    display: inline-block;
    width: 33%;
    vertical-align: middle;

}
h2{
    font-size: 44px;
    color: white;
    font-family: 'Arvo', serif;
}
p{
    font-size: 21px;
    color: white;
}
.button {
    margin: 10px 30px;
    padding: 5px 10px;
    background-color: rgb(148, 28, 218);
    color: white;
    border: 2px solid black;
    border-radius: 15px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    width: 210px;
    height: 55px;
    position: relative;
    left: 140px;
    bottom: 70px;
    cursor: pointer;
}
.box1{
    display: inline-block;

}
.box2{
    display: inline-block;
    
}